* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: #f0f1f6;
  overflow-y: scroll;
}

/* PROFILE */

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 20px;
  margin-bottom: 10vh;
}

.profile-image img {
  height: 450px;
  width: 350px;
  border-radius: 10%;
  margin-left: 7vw;
  margin-top: 40px;
}

.photo-profile {
  margin-left: 8vw;
}
input::file-selector-button {
  font-size: 15px;
  color: #fff;
  background-color: #407c87;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.btn-submit {
  margin-left: -2vw;
  font-size: 15px;
  color: #fff;
  background-color: #407c87;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.profile-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.profile-data {
  color: #407c87;
  text-align: center;
  margin-right: 200px;
}

.profile-data h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}

.profile-data p {
  text-align: start;
  margin: 5px 0;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: #407c87;
  width: 600px;
  color: white;
  margin-bottom: 10px;
}

/* Transaction Styles */
.transaction-container {
  text-align: center;
  color: #407c87;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.transaction-details p {
  font-size: 20px;
  margin-bottom: 20px;
}

.transaction-button {
  margin-top: 40px;
  background-color: #d3e1e2;
  height: 62px;
  width: 205px;
  left: 0px;
  top: 0px;
  border-radius: 15px;
  border: none;
  color: #407c87;
  font-size: 20px;
}
/* Transaction END */

.profile-container,
.transaction-container {
  height: 80vh; /* Set the height of these containers to 100% of the viewport height */
}

@media screen and (max-width: 768px) {
  /* On screens smaller than 768px */
  .profile-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .profile-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-image img {
    height: auto;
    width: 80%;
    margin: 20px 0;
  }
  .photo-profile {
    margin: 0;
  }

  .profile-data {
    margin-right: 0;
  }

  .profile-data p {
    width: 100%;
  }

  .transaction-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: auto;
  }

  .transaction-details {
    margin-top: 10px;
  }

  .transaction-button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 16px;
  }
}
